body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  margin: 5px;
}

h1,
h2 {
  margin-top: 0;
}

#booking-confirmation {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #ccc;
  padding: 20px;
  text-align: center;
}

img {
  margin-top: 15px;
  max-width: 100%;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 2px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.gif-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
img {
  max-width: 15%;
}
